@model CMS.Data.Entities.Product

@{
    ViewData["Title"] = "Sửa sản phẩm";
    Layout = "_LayoutAdmin";
}

<h2>SỬA SẢN PHẨM</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <input type="hidden" asp-for="ImageUrl" />

    <div class="mb-3">
        <label>Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Mô tả</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Giá</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Tồn kho</label>
        <input asp-for="StockQuantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Ảnh hiện tại</label><br />
        <img src="@Model.ImageUrl" width="120" height="120" style="object-fit:cover;" />
    </div>

    <div class="mb-3">
        <label>Tải ảnh mới</label>
        <input type="file" name="uploadImage" class="form-control" accept="image/*" />
    </div>

    <div class="mb-3">
        <label>Danh mục</label>
        <select asp-for="CategoryProductId" asp-items="ViewBag.CategoryProductId" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-warning">Cập nhật</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>