@model CMS.Data.Entities.Customer

@{
    ViewData["Title"] = "Sửa khách hàng";
    Layout = "_LayoutAdmin";
}

<h2>SỬA KHÁCH HÀNG</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Họ tên</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Mật khẩu</label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Điện thoại</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Địa chỉ</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Cập nhật</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>